<footer class="footer-ua">
    <div class="footer-ua-content">
        <div class="footer-ua-left">
            <h2 class="logo">Uriangato <span>Style</span></h2>
            <p class="slogan">Transformamos tu estilo, resaltamos tu esencia.</p>
            <div class="social-ua-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
            </div>
        </div>

        <div class="footer-ua-links">
            <div>
                <h4>Atención</h4>
                <a href="/Nosotros">Contáctanos</a>
                <a href="/Sucursales">Sucursales</a>
                <a href="/Servicios">Promociones</a>
            </div>
            <div>
                <h4>Nosotros</h4>
                <a href="/Nosotros">Acerca de Uriangato Style</a>
                <a href="/Blog">Blog</a>
                <a href="/Galeria">Testimonios</a>
            </div>
            <div>
                <h4>Legal</h4>
                <a href="/Nosotros">Política de privacidad</a>
                <a href="/Nosotros">Términos y condiciones</a>
            </div>
        </div>
    </div>
    <div class="footer-ua-bottom">
        <p>&copy; 2025 Uriangato Style. Todos los derechos reservados.</p>
    </div>
</footer>
