<nav>
    <a href="index.html">
        <section class="marca">Uriangato Style</section>
    </a>

    <!-- Botón Hamburguesa -->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <!-- Menú -->
    <ul class="menu">
        <li><a href="servicios.html" class="active">Servicios</a></li>
        <li><a href="galeria_trabajos.html">Galería</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="sucursales.html">Sucursales</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
    </ul>

    <!-- Íconos -->
    <div class="iconos">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="1">
                <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
                </path>
                <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
            </svg>
        </a>
        <a href="login.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="1">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <p id="sesion"></p>
        </a>
        <button style="display: none;" class="logout-btn" id="logout-btn"> Cerrar Sesion</button>
    </div>
</nav>