<nav>
    <a href="/">
        <section class="marca">Uriangato Style</section>
    </a>

    <!-- Botón Hamburguesa -->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <!-- Menú -->
    <ul class="menu">
        <li><a href="Servicios" class="active">Servicios</a></li>
        <li><a href="Galeria">Galería</a></li>
        <li><a href="Blog">Blog</a></li>
        <li><a href="Sucursales">Sucursales</a></li>
        <li><a href="Nosotros">Nosotros</a></li>
    </ul>

    <!-- Íconos -->
    <div class="iconos">
        
        <a href="Login">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="1">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <p id="sesion"></p>
        </a>
        <button style="display: none;" class="logout-btn" id="logout-btn"> Cerrar Sesion</button>
    </div>
</nav>