:root {
    --salmon: #DFAEA4;
    --prietito: #ce968c;
    --morenito: #be7d74;
    --quemado: #6d463e;
    --piel: #efc7bc;
    --werito: #ffdfd4;
    --gris: #efefef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--gris);
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--salmon);
    height: 5rem;
    padding: 0 1rem;
    justify-content: space-between;
    position: relative;
    z-index: 1000;  
}

.marca {
    border: white solid 1px;
    font-size: 1.8rem;
    color: white;
    padding: 0.8rem;
    margin-right: 2rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.menu li a:hover {
    color: var(--morenito);
}


#menu-toggle {
    display: none;
}

.checkbtn {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
}

.checkbtn:hover {
    color: var(--morenito);
    transition: color 0.3s ease-in-out;
}

@media (max-width: 820px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--salmon);
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        
    }
    .menu li {
        padding: 1rem 0;
    }

    #menu-toggle:checked~.menu {
        display: flex;
    }

    nav 
    {
        width: 100%;
        min-width: 320px;
    }
    header
    {
        width: 100vw;
        max-width: 100%;
        min-width: 340px;
    }
    .checkbtn {
        display: block;
    }
    .btn-flotante 
    {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
    .category-services button 
    {
        font-size: 10px;
    }

    .contenedor {
        flex-direction: column; 
    }

    .contenedor img,
    .contenedor .texto {
        flex: 1 1 auto; 
    }

}

.iconos {
    color: black;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    padding: 0.2rem 1rem;
    align-items: center;
}

.iconos a {
    color: black;
}

.iconos a:hover {
    color: white;
    text-decoration: solid;
    transition: color 0.3s ease-in-out;
}




header {
    background-image: url(../images/salon2.jpg);
    height: 15rem;
    width: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header h2 {
    background-color: rgb(255, 255, 255, 0.50);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    text-align: center;
}
.btn-flotante 
{
	font-size: 16px; 
	text-transform: uppercase; 
	font-weight: bold; 
	color: #ffffff; 
	border-radius: 10px; 
	letter-spacing: 2px; 
	background-color: #BE7D74;
	padding: 18px 30px; 
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover 
{
	background-color: var(--quemado); 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
a 
{
    text-decoration: none;
}

.logout-btn {
    background-color: var(--morenito);
    border: none;
    font-size: medium;
    color: white;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.logout-btn:hover {
    background-color: var(--quemado);
    transform: scale(1.05);
}

.logout-btn:active {
    transform: scale(0.95);
}

.iconos a {
    text-align: center;
}