:root {
    --salmon: #DFAEA4;
    --prietito: #ce968c;
    --morenito: #be7d74;
    --quemado: #6d463e;
    --piel: #efc7bc;
    --werito: #ffdfd4;
    --gris: #efefef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, var(--prietito) 0%, var(--piel) 100%);
    width: 40%;
    min-width: 22rem;
    margin: 3rem auto;
    padding: 5rem 0;
    gap: 1rem;
}

.campo,
.btn {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 0.6rem;
}

label {
    font-weight: bold;
}

@media (max-width:768px){
    main{
        width: 60%;
    }
}