:root 
{
    --salmon: #DFAEA4;
    --prietito: #ce968c;
    --morenito: #be7d74;
    --quemado: #6d463e;
    --piel: #efc7bc;
    --werito: #ffdfd4;
    --gris: #efefef;
}

*{
    box-sizing: border-box;
}

body
{
    box-sizing: border-box;
}
main
{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;

}
h2
{
    color: var(--salmon);
    font-size: 2em;
}
.category-services button 
{
    color: black;
    border: 0;
    padding: 10px 24px;
    cursor: pointer; 
    float: left; 
    font-weight: bold;
    font-size: 20px;
}
  
.category-services button:not(:last-child) 
{
    border-right: none; 
}
  
.category-services:after 
{
    content: "";
    clear: both;
    display: table;
}
  
.category-services button:hover 
{
    color: var(--morenito);
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}

#grid-container 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.item 
{
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img 
{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.item h3 
{
    margin: 0 0 8px;
    color: var(--salmon);
}
.item h4 
{
    margin: 0 0 8px;
    color: black;
}
.item span 
{
    display: inline-block; 
    text-decoration: line-through; 
    text-decoration-thickness: 2px; 
    text-decoration-color: red; 
    opacity: 0.7; 
}

.item button 
{
    padding: 8px 16px;
    background-color: var(--salmon);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: auto; /* Alinea el botón al final */
}

.item button:hover 
{
    background-color: var(--morenito);
}

@media (max-width: 600px) 
{
    .grid-container 
    {
        grid-template-columns: 1fr;
    }
}