:root {
    --salmon: #DFAEA4;
    --prietito: #ce968c;
    --morenito: #be7d74;
    --quemado: #6d463e;
    --piel: #efec7bc;
    --werito: #ffdfd4;
    --gris: #efefef;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
  }
  
 
  main {
    max-width: 1200px;
    margin: 30px auto;  
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  

  .sucursal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    height: 500px;
  }
  
  
  .sucursal iframe {
    width: 45%;
    height: 80%;  
    border: 0;
    margin: 10px;
  }
  

  .informacion {
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  

  .informacion h3 {
    color: var(--salmon);
    margin-bottom: 10px;
    text-align: left;
  }
  .informacion p {
    margin-top: 5%;
    line-height: 1.5;
    text-align: left;
  }
  
  
  @media (max-width: 768px) {
    .sucursal {
      flex-direction: column;
      height: auto; 
      padding: 10px;
    }
    
    .sucursal iframe {
      width: 100%;
      height: 400px;
      margin: 10px 0;
    }
    .informacion {
      width: 100%;
      margin-top: 10px;
    }

    .informacion p {
      line-height: 1.2;
      margin-top: 2%;
    }
  }
  

  @media (max-width: 480px) {
    .sucursal {
      flex-direction: column;
      height: auto;
    }
  
    .sucursal iframe {
      width: 100%;
      height: 300px; 
      margin: 10px 0;
    }
    .informacion {
      width: 90%;
      margin: 10px auto 0 auto;
    }
  }
  